@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

:root {
  --blue: #00bfff;
  --black: #222;
  --white: #fff;
  --light-black: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --border: 0.1rem solid #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
}

* > img {
  user-select: none;
  pointer-events: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading span {
  font-size: 2.5rem;
  color: var(--blue);
}

.heading h3 {
  font-size: 4.5rem;
  color: var(--black);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background: var(--blue);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 3rem;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  z-index: 1000;
}

.header .logo {
  font-size: 2.3rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--blue);
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--light-black);
}

.header .navbar a:hover {
  color: var(--blue);
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(0);
    opacity: 0;
  }
}

.post {
  padding: 0;
}

.post .post-header {
  min-height: 40vh;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post .post-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--dark-bg);
  z-index: -1;
}

.post .title {
  text-align: center;
}

.post .title h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  color: var(--white);
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  line-height: 1;
  padding: 2rem 0;
}

.sobre-cards {
  min-height: 95vh;
  width: 100%;
  background-color: var(--light-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
}

.card {
  position: relative;
  width: 300px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  padding: 16px;
  margin: 56px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}

.card-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
    0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-image img {
  width: 100%;
  transform: scale(1.2);
}

.card p {
  font-size: 2em;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  text-align: center;
}

.card .name {
  margin-top: 80px;
  font-size: 3em;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
}

.card .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact form input,
textarea {
  padding: 1.4rem;
  background: var(--light-black);
}

.contact form input::placeholder,
textarea::placeholder {
  color: var(--light-white);
}

.contact form input:focus,
textarea:focus {
  background: var(--light-white);
  color: var(--white);
}

.contact textarea {
  height: 10rem;
}

/* media queries  */

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }

  html {
    font-size: 55%;
  }

  .home .slide .content h3 {
    font-size: 15vw;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content h3 {
    font-size: 7rem;
  }
}

.section-special {
  position: relative;
  height: 85vh;
}

.section-special .section-special-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  font-family: "PT Sans", sans-serif;
  background-size: cover;
  background-position: center;
}

.booking-form {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 6px;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.booking-form .form-control {
  background-color: #fff;
  height: 50px;
  color: #191a1e;
  border: none;
  font-size: 16px;
  font-weight: 900;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  padding: 0px 25px;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control:-ms-input-placeholder {
  color: rgba(82, 82, 84, 0.4);
}

.booking-form .form-control::placeholder {
  color: rgba(82, 82, 84, 0.4);
}

.booking-form input[type="date"].form-control:invalid {
  color: rgba(82, 82, 84, 0.4);
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 10px;
  bottom: 6px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.booking-form select.form-control + .select-arrow:after {
  content: "\279C";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  display: block;
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #fff;
}

.booking-form .form-checkbox input {
  position: absolute !important;
  margin-left: -9999px !important;
  visibility: hidden !important;
}

.booking-form .form-checkbox label {
  position: relative;
  padding-top: 4px;
  padding-left: 30px;
  font-weight: 900;
  color: #fff;
}

.booking-form .form-checkbox label + label {
  margin-left: 15px;
}

.booking-form .form-checkbox input + span {
  position: absolute;
  left: 2px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}

.booking-form .form-checkbox input + span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #00bfff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.booking-form .form-checkbox input:not(:checked) + span:after {
  opacity: 0;
}

.booking-form .form-checkbox input:checked + span:after {
  opacity: 1;
  width: 10px;
  height: 10px;
}

.booking-form .form-btn {
  margin-top: 27px;
}

.booking-form .submit-btn {
  color: #fff;
  background-color: #00bfff;
  font-weight: 900;
  height: 50px;
  font-size: 14px;
  border: none;
  width: 100%;
  border-radius: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9;
}

.button-container {
  text-align: center;
  margin-bottom: 60px;
}

.button-left1,
.button-left2,
.button-left3,
.button-right1,
.button-right2 {
  color: #fff;
  background-color: #00bfff;
  font-weight: 900;
  height: 50px;
  font-size: 14px;
  border: none;
  width: 150px;
  border-radius: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.button-left1,
.button-left2,
.button-left3 {
  float: left;
  margin-right: 10px;
}

.button-right1,
.button-right2 {
  float: right;
  margin-left: 10px;
}

.button-left1:hover,
.button-left2:hover,
.button-left3:hover,
.button-right1:hover,
.button-right2:hover {
  letter-spacing: 0.2rem;
}

.booking-form table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.booking-form th,
.booking-form td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--light-white);
  font-size: 25px;
}

.booking-form th {
  background-color: var(--white);
  color: var(--blue);
  font-weight: bold;
}

.booking-form td {
  background-color: var(--white);
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 5px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 35px;
  color: var(--white);
}

.banner {
  padding: 2rem 10%;
  position: relative;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th,
.custom-table td {
  border: none;
  padding: 10px;
  text-align: left;
  color: var(--white);
  line-height: 24px;
  font-size: 25px;
}

.custom-table th:first-child,
.custom-table td:first-child {
  width: 20%;
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  width: 20%;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
  width: 20%;
}

.custom-table th:nth-child(4),
.custom-table td:nth-child(4) {
  width: 20%;
}

.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
  width: 20%;
}

.card2-container {
  display: flex;
  margin-top: 200px;
  justify-content: center;
}

.card2 {
  position: relative;
  width: 300px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  margin: 56px 24px;
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.33% - 10px);
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}

.card2.selected {
  background-color: var(--blue);
}

.card2-title {
  font-weight: bold;
  font-size: 20px;
}

.card2-subtitle {
  font-size: 16px;
  margin-top: 5px;
}

.button-voo-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  color: #fff;
  background-color: #00bfff;
  font-weight: 900;
  height: 50px;
  font-size: 14px;
  border: none;
  width: 150px;
  border-radius: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
  margin-right: 10px;
}

.button.confirm {
  background-color: #32cd32;
}

.button:hover,
.button.confirm:hover {
  letter-spacing: 0.2rem;
}

.column {
  float: left;
  padding: 10px;
}

.column-left {
  width: 70%;
}
